@font-face {
  font-family: 'font';
  src: url('/fonts/Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font {
  font-family: 'font';
}

:root {
  --ifm-color-primary: #f2a92c;
  --ifm-color-primary-dark: #f09e11;
  --ifm-color-primary-darker: #e5960e;
  --ifm-color-primary-darkest: #bd7b0c;
  --ifm-color-primary-light: #f4b447;
  --ifm-color-primary-lighter: #f4b954;
  --ifm-color-primary-lightest: #f7ca7d;
}

.toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module, .navbar__items--right>:last-child, .toggleButton_gllP, .toggle_vylO {
  display: none !important;
}

.navbar {
  font-family: 'font' !important;
  position: fixed !important;
  height: 75px !important;

  padding-left: 5% !important;
  padding-right: 5% !important;
 
  width: 100% !important;

  border-radius: 0px 0px 50px 50px !important;

  background-color: #283747 !important;
}

.navbar-sidebar__brand {
  box-shadow: 0 4px 8px #FFFFFF;
}

.text--truncate:hover {
  color: #FFFFFF !important;
}

.menu, .navbar-sidebar__brand {
  background-color: #283747;
}

.thin-scrollbar {
  background-color: #FFFFFF;
}

.menu, .markdown h1:first-child {
  font-family: 'font' !important;
  padding-top: 25px !important;
}

.title_node_modules-\@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module, .title_node_modules-\@docusaurus-theme-classic-lib-theme-DocCategoryGeneratedIndexPage-styles-module, .tocCollapsibleButton_node_modules-\@docusaurus-theme-classic-lib-theme-TOCCollapsible-CollapseButton-styles-module, .title_f1Hy, .title_kItE, .tocCollapsibleButton_TO0P {
  margin-top: 50px !important;
}

.sidebar_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module {
  margin-top: 23% !important;
}

.cardTitle_rnsV:hover, .cardDescription_PWke:hover, .text--truncate:hover, .cardTitle_node_modules-\@docusaurus-theme-classic-lib-theme-DocCard-styles-module:hover, .cardDescription_node_modules-\@docusaurus-theme-classic-lib-theme-DocCard-styles-module:hover {
  color: #f2a92c !important;
}

a {
  font-family: 'font' !important;
  text-decoration: none !important;
  color: initial !important;
}

a:hover {
  color: #f2a92c !important;
}

.navbar__title, .navbar__link, .menu__link {
  font-family: 'font' !important;
  position: relative;
  margin: 0px 5px;

  font-weight: bolder !important;

  color: #f2a92c !important;
}

.navbar__title::after, .navbar__link::after {
  font-family: 'font' !important;
  position: absolute;
  
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;

  content: '';
  
  transform-origin: left;
  transform: scaleX(0); 
  transition: transform 0.3s ease;

  background-color: #FFFFFF;
}

.navbar__title:hover::after, .navbar__link:hover::after, .menu__link:hover::after {
  transform: scaleX(1);
}

.navbar__link:hover {
  color: #FFFFFF !important;
}

.navbar--fixed-top {
  height: 75px;
  font-size: 16px;
}

.navbar__link--active {
  color: #FFFFFF !important;
}

.navbar__link--active::after {
  transform: scaleX(1);
}

.footer__link-item {
  color: #FFFFFF !important;
}

.clean-btn {
  color: #FFFFFF !important;
}

.markdown, .markdown > h2, .container_mt6G, .margin-vert--md, .avatar__subtitle, h1, b, i {
  font-family: 'font' !important;
}