.despreBackground {
    padding-top: 3% !important;
    padding-bottom: 3% !important;

    margin-top: 75px;
    margin-bottom: 25px;

    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
}

.despreText1 {
    margin-top: 25px;
    margin-bottom: 0px;

    text-align: center;

    font-size: 2.75rem;
    font-weight: bolder;

    color: #283747;
}

.despreText2 {
    margin-top: 0px;

    text-align: center;

    font-size: 1.3rem;

    color: #747E88;
}

.despreImage {
    width: 300px;

    animation: floating 3s ease-in-out infinite;
}

.despreTitle {
    margin-top: 50px;
    margin-bottom: 0px;

    text-align: left;

    font-size: 2rem;
    font-weight: bolder;

    color: #F2A92C;
}

.despreSubTitle {
    margin-top: 0px;
    margin-bottom: 0px;

    text-align: left;

    font-size: 1.5rem;
    font-weight: 600;

    color: #283747;
}

.despreContainer {
    display: flex;
    align-items: center;
    justify-content: left;

    text-decoration: none;
}

.websiteImage {
    width: 20px;

    margin-right: 10px;
}

.despreLink {
    font-size: 1.2rem;
    font-weight: 600;

    color: #747E88;
}

.despreLink:hover {
    color: #F2A92C ;
}

.despreDescription {
    margin-top: 25px;
    margin-bottom: 25px;

    text-align: justify;

    font-size: 1rem;

    color: #747E88;
}

@media only screen and (max-width: 990px) {
    .despreTitle, .despreSubTitle, .despreDescription {
        margin-top: 0px;
        text-align: center;
    }
    .despreDescription{
        margin-top: 25px;
    }
    .despreContainer {
        width: auto;

        justify-content: center;
    }
}

@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}