.indexBackground {
    padding-left: 10% !important;
    padding-right: 10% !important;

    min-height: calc(100vh - 75px);

    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
}

.indexText1 {
    padding-top: 150px;

    font-size: 3rem;
    font-weight: bolder;

    color: #283747;
}

.indexText2 {
    padding-top: 10px;

    text-align: justify;
    font-size: 1rem;

    color: #747E88;
}

.indexButton {
    position: relative;
    display: inline-block;
    cursor: pointer;

    padding-top: 10px;

    font-size: 1.3rem;

    color: #F2A92C;
}

.indexButton::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #F2A92C;
}

.indexButton:hover {
    font-weight: bold;

    transform: scale(1.05);
}

.indexImage {
    margin-top: 75px;
    margin-bottom: 75px;

    width: 500px;

    animation: floating 3s ease-in-out infinite;
}

@media only screen and (max-width: 990px) {
    .indexText1 {
        text-align: center;
        padding-top: 50px;
    }
}

@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}