.containerTimeline {
    position: relative;
    overflow: hidden;

    padding: 50px 0;
    margin: 50px auto;

    width: 80%;
}

.containerTimeline:before {
    position: absolute;
    top: 0;
    left: 50%;

    content: '';

    margin-left: -1px;

    width: 2px;
    height: 100%;

    background: #CCD1D9;
    z-index: 1;
}

.timeline-block {
    width: calc(50% + 8px);

    display: flex;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    display: flex;
    flex-direction: row-reverse;
}

.marker {
    margin-top: 10px;

    width: 16px;
    height: 16px;

    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #f2a92c;
    z-index: 1;
}

.timeline-content {
    width: 100%;
    padding: 0 15px;

    color: #666;
}

.timeline-content p {
    text-align: justify;
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
}

.timeline-content h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 500;
}

.timeline-block-left .timeline-content h4,
.timeline-block-left .timeline-content p:first-of-type {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .containerTimeline:before {
        left: 8px;
        width: 2px;
    }

    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .timeline-block-right,
    .timeline-block-left {
        float: none;
        flex-direction: row;
    }

    .timeline-block-left .timeline-content h4,
    .timeline-block-left .timeline-content p:first-of-type {
        text-align: left;
    }
}