.zebraHackBackground {
    padding-left: 10% !important;
    padding-right: 10% !important;

    min-height: calc(100vh - 75px);
    margin-top: 75px;

    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
}

.zebraHackText1 {
    margin-top: 25px;
    margin-bottom: 0px;

    text-align: center;

    font-size: 3rem;
    font-weight: bolder;

    color: #283747;
}

.zebraHackText2 {
    margin-top: 0px;

    text-align: center;
    font-size: 1.3rem;

    color: #747E88;
}

.zebraHackImage {
    margin-top: 10px;
    margin-bottom: 10px;
}

.zebraHackTitle {
    margin-top: 25px;

    text-align: center;

    font-size: 2.5rem;
    font-weight: bolder;

    color: #283747;
}

.zebraHackSubTitle {
    margin-top: 25px;
    margin-bottom: 25px;

    text-align: center;

    font-size: 2rem;
    font-weight: bolder;

    color: #283747;
}

.zebraHackDescription {
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: justify;

    font-size: 1.2rem;

    color: #747E88;
}

.alignMiddleTd {
    text-align: center;
    vertical-align: middle;
}

.alignLeftTd {
    text-align: left;
}